/* CSS RESET */

#container{
    position: relative;
    width: 600px;
    height: 500px;
    border: 2px solid;
    margin: auto;
}

#caixa1, #caixa2, #caixa3, #caixa4{
    position: relative;
    width: 70px;
    height: 70px;
    border: 2px solid;
    background-color: #FF0;
    text-align: center;
}
