/* CSS RESET */

*{ 
    margin: 0;
    padding: 0;
    border: 0;

}

#fundo{
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #ccc;
    margin: auto;
}

#camada1{
    position: relative;
    width: 100px;
    height: 180px;
    background-color: #Ff0;
    border: 5px solid #F90;
    text-align: center;
    float: left; /* encaixe a esquerda*/
}

#camada1 img{
    width: 100%;
    height: 100%;
}
}

#camada2{
    position: relative;
    width: 100px;
    height: 180px;
    background-color: rgb(0, 255, 106);
    border: 5px solid rgb(55, 0, 255);
    text-align: center;
    float: left;
    margin-left: 10px; 
    margin-right: 10px;
}

#camada3{
    position: relative;
    width: 100px;
    height: 180px;
    background-color: rgb(255, 136, 0);
    border: 5px solid rgb(255, 0, 170);
    text-align: center;
    clear: left;
    background-image: url(imagens/sol-mar-paisagens.jpg);
}

#camada_absoluta{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: aliceblue;
    z-index: 2;
    padding: 5px; 

}

#camada_absoluta{
    font-size: 12px;
    text-align: justify;
    color: #ccc;
    font-style: italic;
}

#camada4{
    position: relative;
    width: 200px;
    height: auto;
    background-color: rgb(0, 255, 106);
    text-align: center;
    color: #F90;
    padding-top: 20px;
    padding-bottom: 20px;
    
}